:root {
    --sea-green: #0a8754;
    --dark-purple: #230c33;
    --bone: #d0ceba;
    
    --base-font-color: #fff;
    --font-title: 3rem;
    
    --header-nav: #1c5d99;
    
    --init-bg: #8ac4ff;
}

::-webkit-scrollbar {
    background: var(--bone);
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background: #13091a;
    border-radius: .5rem;
}